/* Define the custom font */
@font-face {
    font-family: 'The Bold Font';
    src: url('THE BOLD FONT - FREE VERSION - 2023.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'The Bold Font', sans-serif;
    margin: 0;
    background-color: #121212;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1a1919;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo .jpg,
header .logo .png {
    height: 50px;
    margin-right: 20px;
    transition: 0.2s;
    border-radius: 20px;
}

header .logo .jpg:hover,
header .logo .png:hover {
    transform: scale(1.2);
    box-shadow: 10px 10px 50px rgba(255, 255, 255, 0.69);
}

header .Shary {
    transition: 0.2s;
    border-radius: 20px;
}

header .Shary:hover {
    width: 120px;
    box-shadow: 10px 10px 50px rgba(255, 255, 255, 0.69);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.2s;
}

nav ul li a:hover {
    text-decoration: underline;
    text-shadow: 10px 10px 50px white;
    font-size: 22px;
}

.logos {
    background: url('group.jpg') no-repeat center center;
    background-size: cover;
    padding: 40px 20px;
    text-align: center;
    animation: smoothIn 0.6s;
}

.logos .pngs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.logos .pngs img {
    width: 100%;
    max-width: 300px;
    transition: 0.2s;
    cursor: pointer;
}

.logos .pngs img:hover {
    transform: scale(1.1);
}

.logos .pngs p {
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;

    text-shadow: 10px 10px 10px  rgb(0, 0, 0);
}

@media (min-width: 769px) {
    .logos .pngs {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .logos .pngs .insta,
    .logos .pngs .youtube {
        margin-left: 0;
        margin-bottom: 0;
    }

    .logos .pngs p {
        text-align: center;
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .logos .pngs {
        flex-direction: column;
    }

    .logos .pngs img {
        max-width: 80%;
    }

    .logos .pngs p {
        text-align: center;
    }
}

@keyframes smoothIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes smoothLoad {
    from {
        opacity: 0;
        transform: scale(0.4);
    }
    
    to {
        opacity: 1;
        transform: scale(1);
    }
}


header {
    animation: smoothIn 0.5s ease-out;
}


footer {
    text-align: center;
    padding: 20px;
    margin-top: 100px;
    background-color: #121212;
}
footer .contact {
    text-decoration: underline;
    
}